/* Arrange buttons */
.btn-matrix {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.btn-matrix > .btn {
  width: 33%;
  /* force buttons to have the same width regardless of content */
  min-height: 100px;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:nth-child(3n+1):last-child, 
.btn:nth-child(3n+1):nth-last-child(3), 
.btn:nth-child(3n+1):nth-last-child(2) {
  border-bottom-left-radius: 15px !important;
}

.btn:nth-child(3n+1):last-child {
  width: 99%;
}

.btn:nth-child(3n) {
  margin-right: -1px;
}

.btn-matrix > .btn:nth-child(n + 4) {
  margin-top: -1px;
}

.btn-matrix > .btn:first-child {
  border-top-left-radius: 15px !important;
}

.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 15px !important;
}

.btn-matrix > .btn:last-child {
  border-bottom-right-radius: 15px !important;
}

/* Decorations */
.btn-matrix {
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  border: solid 1px lightskyblue;
  margin-left: -1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main_div {
  padding: 20px;
}

#btn-stop {
  margin-bottom: 20px;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
  margin-top: 20px;
}
  