/* Arrange buttons */
.btn-matrix {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.btn-matrix > .btn {
  width: 33%;
  /* force buttons to have the same width regardless of content */
  min-height: 100px;
  flex: 1 1 auto;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
  font-family: inherit;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.btn:nth-child(3n+1):last-child,
.btn:nth-child(3n+1):nth-last-child(3),
.btn:nth-child(3n+1):nth-last-child(2) {
  border-bottom-left-radius: 15px !important;
}

.btn-matrix > .btn:nth-child(n + 4) {
  margin-top: -1px;
}

.btn-matrix > .btn:first-child {
  border-top-left-radius: 15px !important;
}

.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 15px !important;
}

.btn-matrix > .btn:last-child {
  border-bottom-right-radius: 15px !important;
}

/* Decorations */
.btn-matrix {
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  border: solid 1px #007bff;
  color: #007bff;
  background-color: transparent;
  background-image: none;
  margin-left: -1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
}

.span_txt {
  margin: .3rem;
}

.btn.selected {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn.stopping {
  background-color: #dc3545;
  color: #fff;
  transition: background-color 0.1s ease-out;
}

#main_div {
  padding-top: 20px;
}

#btn-stop {
  margin-bottom: 20px;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}
